@import "tailwindcss";

/* custom theme */
@theme {
  --font-sans: "Inter", sans-serif;
  --default-font-family: var(--font-sans);
  --color-primary: #15d0ff;
  --color-dark: #09090b;
  --spacing-prefer: 1346px;
  --breakpoint-3xl: 120rem;
  --breakpoint-prefer: 1366px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  @apply w-[3px] h-[3px];
}
::-webkit-scrollbar-track {
  @apply rounded-full bg-primary/5;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary/15;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}

/* setting stable gab for scrollbar */
html {
  @apply [scrollbar-gutter:stable];
}

/* pages transition styles */
.page-enter-active,
.page-leave-active {
  @apply transition-all duration-200 ease-in-out;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0;
}

body {
  @apply bg-dark bg-[radial-gradient(circle,rgb(from_var(--color-primary)_r_g_b_/_0.12)_1px,transparent_1px)] bg-[size:1.2rem_1.2rem];
}
