@import "tailwindcss";

/* custom theme */
@theme {
  --font-sans: "Inter", sans-serif;
  --default-font-family: var(--font-sans);
  --color-primary: #15d0ff;
  --color-dark: #09090b;
  --spacing-prefer: 1346px;
  --breakpoint-prefer: 1366px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  @apply w-[3px] h-[3px];
}
::-webkit-scrollbar-track {
  @apply rounded-full bg-primary/5;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-primary;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/30;
}

/* setting stable gab for scrollbar */
html {
  @apply [scrollbar-gutter:stable];
}

/* pages transition styles */
.page-enter-active,
.page-leave-active {
  @apply transition-all duration-300;
}
.page-enter-from,
.page-leave-to {
  @apply opacity-0 blur-lg translate-y-1;
}

body {
  @apply bg-dark bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px];
}
