@import "tailwindcss";

/* custom theme */
@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --default-font-family: var(--font-sans);
  --color-primary: #15d0ff;
  --color-dark: #09090b;
  --spacing-prefer: 1346px;
  --breakpoint-3xl: 120rem;
  --breakpoint-prefer: calc(theme(--spacing-prefer) + 20px);
}
/* custom utilities */
@utility scroll-gutter-stable {
  scrollbar-gutter: stable;
}
@utility scroll-width-thin {
  scrollbar-width: thin;
}
@utility scroll-color-primary {
  --_reduced-opc: hsl(from var(--color-primary) h s l / 0.2);
  scrollbar-color: var(--_reduced-opc) var(--color-dark);
}
@utility bg-dotted-* {
  background-image: radial-gradient(
    circle,
    rgb(from var(--color-zinc-50) r g b / 0.02) 1px,
    transparent 1px
  );
  --_spacing: calc(var(--spacing) * --value(number));
  background-size: var(--_spacing) var(--_spacing);
}
@utility bg-grid-* {
  background-image:
    linear-gradient(
      rgb(from var(--color-primary) r g b / 0.025) 1px,
      transparent 1px
    ),
    linear-gradient(
      to right,
      rgb(from var(--color-primary) r g b / 0.025) 1px,
      transparent 1px
    );
  --_spacing: calc(var(--spacing) * --value(number));
  background-size: var(--_spacing) var(--_spacing);
}
/* custom styles */
::selection {
  @apply bg-primary/20 text-current;
}
html {
  @apply scroll-gutter-stable scroll-width-thin scroll-color-primary;
}
body {
  @apply bg-dark bg-grid-8;
}
